@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SF/SFProDisplay-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SF/SFProDisplay-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}