@import 'reset';
@import 'fonts';

$maincolor: #00100f;


body{
    background-color:$maincolor;
}
.container{
    max-width: 1080px;
    margin: 0 auto;
    position: relative;
    z-index: 9999;
}
.slider{
    display: flex;
    flex-direction: column;
    position: relative;
    &__box{
        display: flex;
        justify-content: space-between;
    }
    &__item{
        a{
            img{
                border-radius: 12px;
                width: 340px;
                height: 340px;
            }
        }
        
    }
    &__pagination{
        display: flex;
        justify-content: center;
        margin-top: 30px;
        li{
            width: 14px;
            height: 14px;
            background: #fff;
            opacity: 0.2;
            border-radius: 100%;
            margin-right: 10px;
        }
        li:last-child{
            margin-right: 0;
        }
        .active{
            opacity: 1;
        }
    }
    &__button{
        position: absolute;
        top:40%;
        transform: translateY(-50%);
        width: 100%;
        button:first-child{
            position: absolute;
            left: -70px;
        }
        button:last-child{
            position: absolute;
            right: -70px;
        }
    }
}
.header-top{
    background: #004643;
    padding: 11px 0;
    .phone-social{
        display: flex;
        justify-content: flex-end;
        a{
            font-family: "Montserrat", sans-serif;
            font-weight: 600;
            font-size: 14px;
            color: #fff;
            img{
                margin-right: 10px;
            }
        }
        .social{
            display: flex;
            margin-left: 48px;
            li{
                margin-right: 30px;
            }
            li:last-child{
                margin-right: 0;
            }
        }
    }
}
.header-bottom{
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.05);
    background: #000908;
    padding: 19px 0;
    .navigation{
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__menu{
            display: flex;
            li{
                margin-right: 42px;
                a{
                    font-family: "Montserrat", sans-serif;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 140%;
                    color: #fff;
                }
            }
            li:last-child{
                margin-right: 0;
            }
        }
    }
}
.banner{
    background-image: url('../img/png/banner-index.png');
    background-position-x: right;
    background-repeat: no-repeat;
    padding-top: 61px;
    padding-bottom: 106px;
    position: relative;
    z-index: 0;
    &__box{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__text{
        h1{
            font-family: "Dela Gothic One", sans-serif;
            font-weight: 400;
            font-size: 54px;
            color: #fff;
            max-width: 551px;
            line-height: 78.2/54*100%;
            margin-bottom: 27px;
            span{
                color: #33b0aa;
            }
        }
        ul{
            margin-bottom: 47px;
            li{
                font-family: "Montserrat", sans-serif;
                font-weight: 500;
                font-size: 20px;
                line-height: 140%;
                color: #fff;
                margin-bottom: 16px;
                padding-left: 12px;
                border-left:2px solid #28b0a9;
            }
            li:last-child{
                margin-bottom: 0;
            }
        }
        button{
            border-radius: 12px;
            font-family: "Montserrat", sans-serif;
            font-weight: 500;
            font-size: 16px;
            line-height: 140%;
            color: #fff;
            padding: 16px 30px;
            box-shadow: 0px 12px 23px 0 rgba(8, 35, 34, 0.56), inset 0px 6px 6px 0 #36ece3, inset -0px -6px 6px 0 #176561;
            background: linear-gradient(180deg, #32ddd4 0%, #1a746f 100%);
            margin-right: 30px;
        }
        button:last-child{
            background: #323e3d;
            border-radius: 12px;
            font-family: "Montserrat", sans-serif;
            font-weight: 500;
            font-size: 16px;
            line-height: 140%;
            color: #fff;
            padding: 16px 30px;
            box-shadow: none;
        }
        



    }
    &__item{
        border-radius: 24px;
        width: 162px;
        height: 129px;
        backdrop-filter: blur(30px);
        background: rgba(255, 255, 255, 0.2);
        padding: 0 20px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
        h3{
            font-family: "Montserrat", sans-serif;
            font-weight: 700;
            font-size: 20px;
            line-height: 142%;
            color: #fff;
        }
        p{
            font-family: "Montserrat", sans-serif;
            font-weight: 500;
            font-size: 16px;
            line-height: 142%;
            text-align: center;
            color: #fff;
            margin-top: 6px;
            max-width: 122px;
        }
    }
    &__item:last-child{
        margin-bottom: 0;
    }
    .svg1{
        position: absolute;
        top: -120px;
        left: 0;
        z-index: 1;
    }
    .svg2{
        position: absolute;
        bottom: 28px;
        right: 200px;
        z-index: 1;
    }
    img{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -42px;
        z-index: 1;
    }
}
.sale{
    padding-top: 120px;
    padding-bottom: 120px;
    background-image: url('../img/png/MSMC_Wood_Illustration\ 1.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 2;
    h2{
        font-family: "Dela Gothic One", sans-serif;
        font-weight: 400;
        font-size: 40px;
        color: #fff;
        margin-bottom: 29px;
    }
    .tab{
        display: flex;
        margin-bottom: 41px;
        &__item{
            border-radius: 12px;
            padding: 10px 14px;
            backdrop-filter: blur(30px);
            background: rgba(255, 255, 255, 0.2);
            opacity: 0.8;
            font-family: "Montserrat", sans-serif;
            font-weight: 500;
            font-size: 16px;
            line-height: 140%;
            text-align: center;
            color: #fff;
            margin-right: 8px;
        }
        &__item:last-child{
            margin-right: 0;
        }
        &__active{
            border: 1px solid #fff;
            border-radius: 12px;
            background: transparent;
        }
    }

}
.news{
    padding: 120px 0;
    .title{
        font-family: "Dela Gothic One", sans-serif;
        font-weight: 400;
        font-size: 40px;
        color: #fff;
        margin-bottom: 39px;
        span{
            color: #33b0aa;
        }
    }
    .slider{
        &__item{
            a{
                img{
                    width: 248px;
                    height: 248px;
                    border-radius: 12px;
                }
            }
            h3{
                font-family: "Montserrat", sans-serif;
                font-weight: 500;
                font-size: 16px;
                line-height: 140%;
                color: rgba(255, 255, 255, 0.8);
                max-width: 248px;
                margin-bottom: 10px;
                margin-top: 14px;
            }
            p{
                font-family: "Montserrat", sans-serif;
                font-weight: 400;
                font-size: 14px;
                line-height: 142%;
                color: rgba(255, 255, 255, 0.8);
                max-width: 248px;
            }
        }
    }
}
.list{
    background-image: url('../img/png/Bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 120px;
    padding-bottom: 120px;
    .title{
        font-family: "Dela Gothic One", sans-serif;
        font-weight: 400;
        font-size: 40px;
        color: #fff;
        margin-bottom: 29px;
    }
    .tab{
        display: flex;
        margin-bottom: 41px;
        &__item{
            border-radius: 12px;
            padding: 10px;
            backdrop-filter: blur(30px);
            background: rgba(255, 255, 255, 0.2);
            opacity: 0.8;
            font-family: "Montserrat", sans-serif;
            font-weight: 500;
            font-size: 16px;
            line-height: 140%;
            text-align: center;
            color: #fff;
            margin-right: 8px;
        }
        &__item:last-child{
            margin-right: 0;
        }
        &__active{
            border: 1px solid #fff;
            border-radius: 12px;
            background: transparent;
        }
    }
}
.company{
    padding: 120px 0;
    &__second{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.yasnevo{
    background-image: url('../img/png/Bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 120px 0;
    &__title{
        font-family: "Dela Gothic One", sans-serif;
        font-weight: 400;
        font-size: 40px;
        color: #fff;
        margin-bottom: 39px;
        span{
            color: #33b0aa;
        }
    }
    &__box{
        backdrop-filter: blur(30px);
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(181, 181, 181, 0.2) 100%);
        border-radius: 24px;
        padding: 40px;
        p{
            font-family: "Montserrat", sans-serif;
            font-weight: 400;
            font-size: 14px;
            line-height: 140%;
            color: #fff;
            opacity: 0.8;
            margin-bottom: 14px;
        }
        p:last-child{
            margin-bottom: 0;
        }
    }
}
.contact{
    padding-bottom: 120px;
    &__box{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__info{
        display: flex;
        flex-direction: column;
        h2{
            font-family: "Dela Gothic One", sans-serif;
            font-weight: 400;
            font-size: 40px;
            color: #fff;
            margin-bottom: 20px;
        }
        span{
            font-family: "Montserrat", sans-serif;
            font-weight: 500;
            font-size: 16px;
            line-height: 140%;
            color: rgba(255, 255, 255, 0.8);
            margin-bottom: 10px;
        }
        p,a{
            font-family: "Montserrat", sans-serif;
            font-weight: 500;
            font-size: 20px;
            line-height: 140%;
            color: #fff;
            margin-bottom: 20px;
            max-width: 410px;
        }
    }
}
footer{
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.05);
    background: #000908;
    padding-top: 50px;
    .footer{
        &__top{
            display: flex;
            justify-content: space-between;
        }
        &__time{
            a{
                img{
                    width: 117px;
                }
            }
            h3{
                font-family: "Montserrat", sans-serif;
                font-weight: 600;
                font-size: 14px;
                line-height: 140%;
                color: rgba(255, 255, 255, 0.8);
                margin-bottom: 17px;
                margin-top: 20px;
            }
            ul{
                margin-bottom: 17px;
                li{
                    font-family: "Montserrat", sans-serif;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 140%;
                    color: rgba(255, 255, 255, 0.8);
                    margin-bottom: 9px;
                }
            }
        }
        &__menu{
            li{
                margin-bottom: 9px;
                a{
                    font-family: "Montserrat", sans-serif;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 140%;
                    color: rgba(255, 255, 255, 0.8);
                }
            }
            li:last-child{
                margin-bottom: 0;
            }
        }
        &__bottom{
            display: flex;
            justify-content: space-between;
            padding: 22px 0;
            border-top: 1px solid rgba(255, 255, 255, 0.2);

            p,a{
                font-family: "Montserrat", sans-serif;
                font-weight: 400;
                font-size: 12px;
                color: rgba(255, 255, 255, 0.8);
            }
        }
    }

}


